<div class="fluid-container parent-container">
  <router-outlet></router-outlet>
</div>

<!-- AM TOP-FIXED menu -->
<ul class="am-mega-menu am-mega-menu-fixed am-mega-menu-response-to-icons am-mega-menu-anim-scale">
  <li>
    <a routerLink="/">
      My Dashboard
    </a>
  </li>
  <li aria-haspopup="true">
    <a routerLink="/ezhire">
      <i></i>Ezhire</a>
    <div class="grid-container3">
      <ul>
        <li>
          <a [routerLink]="['/ezhire/pipeline']">
            <i></i>Pipeline</a>
        </li>
        <li>
          <a routerLink="/">
            <i></i>Requirements</a>
        </li>
        <li>
          <a routerLink="/">
            <i></i>Candidates</a>
        </li>
      </ul>
    </div>
  </li>
  <li aria-haspopup="true">
    <a routerLink="/">
      <i></i>HRMS+</a>
    <div class="grid-container3">
      <ul>
        <li>
          <a routerLink="/">
            <i></i>Employees</a>
        </li>
        <li>
          <a routerLink="/">
            <i></i>Org Hierarchy</a>
        </li>
        <li>
          <a routerLink="/">
            <i></i>Expense</a>
        </li>
        <li>
          <a routerLink="/">
            <i></i>HRMS Admin</a>
        </li>
      </ul>
    </div>
  </li>
  <li aria-haspopup="true">
    <a routerLink="/">
      <i></i>Expense</a>
    <div class="grid-container3">
      <ul>
        <li>
          <a routerLink="/">
            <i class="fa fa-globe"></i>Pending Tasks</a>
        </li>
        <li>
          <a routerLink="/">
            <i></i>Expense Reports</a>
        </li>
        <li>
          <a routerLink="/">
            <i></i>Consolidated Reports</a>
        </li>
      </ul>
    </div>
  </li>
  <li aria-haspopup="true">
    <a routerLink="/">
      <i></i>TimeTracker</a>
  </li>
  <li aria-haspopup="true">
    <a routerLink="/">
      <i></i>RPM</a>
  </li>
  <li aria-haspopup="true">
    <a routerLink="/">
      <i></i>Admin</a>
    <div class="grid-container3">
      <ul>
        <li>
          <a routerLink="/">
            <i class="fa fa-globe"></i>Manage Roles</a>
        </li>
        <li>
          <a routerLink="/">
            <i></i>Manage Resources</a>
        </li>
        <li>
          <a routerLink="/">
            <i></i>Manage API Access</a>
        </li>
        <li>
          <a routerLink="/">
            <i></i>Pending Emails</a>
        </li>
        <li>
          <a routerLink="/">
            <i></i>Manage Adhoc Reports</a>
        </li>
      </ul>
    </div>
  </li>
  <li aria-haspopup="true">
    <a routerLink="/">
      <i></i>PPM</a>
  </li>
  <li aria-haspopup="true">
    <a routerLink="/">
      <i></i>BSM</a>
  </li>

  <li aria-haspopup="true" class="pull-right" [routerLinkActive]="['active']">
    <a routerLink="/login">
      <i class="fa fa-user"></i>
    </a>
    <div class="grid-container3">
      <ul>
        <li>
          <a routerLink="/">
            <i class="fa fa-user"></i>John</a>
        </li>
        <li>
          <a routerLink="/">
            <i></i>View Roles</a>
        </li>
        <li>
          <a routerLink="/">
            <i class="fa fa-sign-out"></i>Log-out</a>
        </li>

      </ul>
    </div>


  </li>
</ul>
